extends layout

block content
  h1 Books
  form.search-form(method='post', action='/search')
    input.search(type='text', name='search')
    input(type='submit', value='Search')
  a.button(href='/books/new') Create New Book
  table
    tr
      th Title
      th Author
      th Genre
      th Year

    each book in books 
      tr 
        td
          a(href= '/books/' + book.id)= book.title 
        td= book.author 
        td= book.genre
        td= book.year
  .pagination-buttons 
    while n <= pages
      a.button(href='/books?page=' + (n - 1), id=(page == n - 1 ? 'active' : ''))= n++